/*$test-img-green: orange;*/
* {
  margin: 0;
  padding: 0; }

p, image {
  margin: 0; }

body {
  font: 3.6vw/1.5 tahoma,arial,sans-serif; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.font-size-sm {
  font-size: 2.8vw; }

.font-size-big {
  font-size: 5.4vw; }

.footer-push {
  width: 100vw;
  height: 19.4vw; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.mask {
  position: absolute;
  z-index: 66;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  opacity: 0.5; }

.text-blue {
  color: #2FBDB3 !important; }

.text-orange {
  color: #F29A1C; }

.text-green {
  color: #26D17A !important; }

.text-red {
  color: #F0552B !important; }

.bg-red {
  background-color: #F0552B !important; }

.bg-invalid-exam {
  background-color: #6F7277 !important; }

.active {
  color: #2FBDB3; }

.choice-active {
  color: #2FBDB3 !important; }

.label-disabled {
  color: #E5E5E5 !important; }

.blue-btn {
  display: block;
  width: 57.8vw;
  height: 11.3vw;
  line-height: 11.3vw;
  margin: 0 auto;
  text-align: center;
  background-color: #2FBDB3;
  color: white;
  font-size: 3.9vw;
  font-weight: bold; }

.push-bottom {
  width: 100vw;
  height: 16vw; }

body {
  background-color: #F3F7F9; }

.info .item {
  height: 14vw;
  border-bottom: 0.2vw solid #E8E8EA;
  background-color: white; }
  .info .item .hide-select {
    position: absolute;
    width: 100vw;
    height: 14vw;
    opacity: 0; }
  .info .item .hide-input {
    position: absolute;
    width: 60vw;
    height: 10vw;
    text-align: right;
    margin-top: 1.5vw;
    right: 4.2vw;
    font-size: 3.5vw;
    border: none; }
  .info .item span.left {
    display: block;
    float: left;
    width: 26vw;
    font-size: 4.2vw;
    font-weight: 500;
    line-height: 14vw;
    margin-left: 4.2vw; }
  .info .item span.right {
    display: block;
    float: right;
    width: 56vw;
    line-height: 14vw;
    margin-right: 2.8vw;
    text-align: right;
    color: #959595;
    overflow: hidden; }
  .info .item span.margin-right-4 {
    margin-right: 4.2vw !important; }
  .info .item span.margin-right-10 {
    margin-right: 10vw !important; }
  .info .item span.radio-text {
    font-size: 4.2vw;
    float: right;
    line-height: 14vw;
    margin-right: 4.2vw; }
  .info .item span.label {
    float: right;
    margin-right: 2vw;
    padding: .8vw;
    border: 0.2vw solid #959595;
    border-radius: 1.2vw;
    margin-top: 3.6vw; }
  .info .item span.active {
    color: #2FBDB3;
    border-color: #2FBDB3; }
  .info .item img.pull-right {
    float: right;
    width: 3.3vw;
    height: 2.5vw;
    margin-top: 5.7vw;
    margin-right: 4.2vw; }
  .info .item img.radio {
    float: right;
    width: 3.8vw;
    height: 3.8vw;
    margin-top: 5.1vw;
    margin-right: 2vw; }
.info .item-photo {
  height: auto;
  padding-bottom: 4.6vw; }
  .info .item-photo a {
    display: block;
    float: right;
    width: 18.1vw;
    height: 6.8vw;
    line-height: 6.8vw;
    text-align: center;
    margin-top: 3.6vw;
    margin-right: 4.2vw;
    background-color: #2FBDB3;
    border-radius: 1.3vw;
    color: white;
    -webkit-appearance: none; }
  .info .item-photo .photo {
    width: 87vw;
    height: 58vw;
    margin-left: 6.5vw;
    border: 0.2vw solid #E8E8EA;
    border-radius: 2.6vw; }

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 16vw; }
  footer a {
    display: block;
    height: 16vw;
    line-height: 16vw;
    text-align: center;
    color: white;
    font-size: 4vw;
    background-color: #2FBDB3; }

/*# sourceMappingURL=my_info.css.map */
