$test-back: #F3F7F9;
$test-img-grey: #A8A8A8;
$test-img-green: #2FBDB3;
$test-border-grey: #D4D4D4;
$test-choice-black: #202020;
$test-img-disabled: #E5E5E5;
$test-score-right: #26D17A;
$test-score-wrong: #F0552B;

$test-list-grey: #E8E8EA;
$test-grey-font: #808080;

$exam-grey-font: #747474;
$exam-footer-grey: #6F7277;
$info-grey-font: #959595;

$common-black: #373737;

$exam-list-disabled: #F3F3F5;

$text-color-red: #F0552B;

$test-wrong-grey: #A8A8A8;


* {
  margin: 0;
  padding: 0; }

p, image {
  margin: 0; }

body {
  font: 3.6vw/1.5 tahoma,arial,sans-serif; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }


.font-size-sm {
	font-size: 2.8vw;
}

.font-size-big {
	font-size: 5.4vw;
}

.footer-push {
	width: 100vw;
	height: 19.4vw;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.mask {
	position: absolute;
	z-index: 66;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: black;
	opacity: 0.5;
}

.text-blue {
	color: $test-img-green !important;
}
.text-orange {
	color: #F29A1C;
}
.text-green {
	color: #26D17A !important;
}
.text-red {
	color: #F0552B !important;
}

.bg-red {
	background-color: #F0552B !important;
}
.bg-invalid-exam {
	background-color: #6F7277 !important;
}

.active {
	color: $test-img-green;
}
.choice-active {
	color: $test-img-green !important;
}
.label-disabled {
	color: $test-img-disabled !important;
}

.blue-btn {
	display: block;
	width: 57.8vw;
	height: 11.3vw;
	line-height: 11.3vw;
	margin: 0 auto;
	text-align: center;
	background-color: $test-img-green;
	color: white;
	font-size: 3.9vw;
	font-weight: bold;
}

.push-bottom {
	width: 100vw;
	height: 16vw;
}

