@import "main";

body {
	background-color: #F3F7F9;
}

header {
	height: 30.4vw;
	background-color: white;
	border-bottom: .2vw solid $test-list-grey;
	a {
		display: block;
		height: 30.4vw;

		img {
			&.pull-right {
				width: 2vw;
				height: 3vw;
				float: right;
				margin-top: 13.7vw;
				margin-right: 4.9vw;
			}
			&.pass {
				width: 14.4vw;
				height: 13.8vw;
				float: left;
				margin-top: 8.9vw;
				margin-left: 7vw;
				border-radius: 7.2vw;
				/*border: .2vw solid black;*/
			}
		}

		.center-content {
			float: left;
			width: 60vw;
			margin-left: 4vw;
			span {
				overflow: hidden;
				&.name {
					float: left;
					font-size: 6.4vw;
					font-weight: bold;
					margin-top: 7.3vw;
				}
				&.role {
					float: left;
					margin-top: 9vw;
					font-size: 2.9vw;
					color: $test-img-green;
					padding: .4vw 1.4vw;
					margin-left: 2.4vw;
					border: .2vw solid $test-img-green;
					border-radius: 1.3vw;
				}
				&.school {
					color: $exam-grey-font;
				}
				&.unregister {
					font-size: 5vw;
					line-height: 30.4vw;
					color: $common-black;
					span {
						color: $test-img-green;
						text-decoration: underline;
					}
				}
			}
		}
	}
	
}

.list {
	.list-item {
		display: block;
		height: 14vw;
		background-color: white;
		margin-top: 3.3vw;
		border-top: .2vw solid $test-list-grey;
		border-bottom: .2vw solid $test-list-grey;
		color: $common-black;
	}
	img {
		&.left {
			width: 4.5vw;
			height: 4.5vw;
			float: left;
			margin-top: 4.8vw;
			margin-left: 4.5vw;
		}
		&.right {
			width: 2vw;
			height: 3vw;
			float: right;
			margin-top: 5.1vw;
			margin-right: 4.9vw;
		}
	}
	span {
		display: block;
		float: left;
		line-height: 4.5vw;
		margin-left: 3.3vw;
		margin-top: 4.8vw;
	}
}

footer {
	position: fixed;
	background-color: white;
	bottom: 0;
	width: 100vw;
	height: 14.8vw;
	border-top: .2vw solid $test-list-grey;
	a {
		display: inline-block;
		width: 33.3vw;
		height: 14.8vw;
		line-height: 14.8vw;
		text-align: center;
		color: $exam-footer-grey;
		img {
			float: left;
			width: 6.2vw;
			height: 6.2vw;
			margin-left: 13.4vw;
			margin-top: 1.6vw;
		}
		span {
			float: left;
			width: 20vw;
			margin-left: 6.6vw;
			height: 6vw;
			line-height: 6vw;
		}
	}
}