@import "main";

body {
	background-color: #F3F7F9;
}

header {
	background-color: white;
	height: 12vw;
	border-bottom: .2vw solid $test-list-grey;

	ul {
		list-style: none;

		li {
			display: inline-block;
			height: 10.8vw;
			line-height: 10.8vw;
			width: 20vw;
			margin: 0 6.6vw;
			text-align: center;
			&.active {
				border-bottom: 1.2vw solid $test-img-green;
			}
		}
	}
}

.exam-list {
	margin-top: 4vw;
	.item {
		display: block;
		color: $common-black;
		height: 14vw;
		margin-top: 2vw;
		background-color: white;
		border-bottom: .2vw solid $test-list-grey;
		span {
			display: block;
			float: left;
			width: 80vw;
			margin-left: 4.6vw;
			font-size: 4.2vw;
			line-height: 14vw;
			overflow: hidden;
		}
		img {
			width: 2vw;
			height: 3vw;
			float: right;
			margin-top: 5.5vw;
			margin-right: 4.9vw;
		}
	}
	.item-first {
		border-top: .2vw solid $test-list-grey;
	}
}