@import "main";

body {
	background-color: $test-back;
}

.info {
	.item {
		height: 14vw;
		border-bottom: .2vw solid $test-list-grey;
		background-color: white;
		.hide-select {
			position: absolute;
			width: 100vw;
			height: 14vw;
			opacity: 0;
		}
		.hide-input {
			position: absolute;
			width: 60vw;
			height: 10vw;
			text-align: right;
			margin-top: 1.5vw;
			right: 4.2vw;
			font-size: 3.5vw;
			border: none;
		}
		span {
			&.left {
				display: block;
				float: left;
				width: 26vw;
				font-size: 4.2vw;
				font-weight: 500;
				line-height: 14vw;
				margin-left: 4.2vw;
			}
			&.right {
				display: block;
				float: right;
				width: 56vw;
				line-height: 14vw;
				margin-right: 2.8vw;
				text-align: right;
				color: $info-grey-font;
				overflow: hidden;
			}
			&.margin-right-4 {
				margin-right: 4.2vw !important;
			}
			&.margin-right-10 {
				margin-right: 10vw !important;
			}
			&.radio-text {
				font-size: 4.2vw;
				float: right;
				line-height: 14vw;
				margin-right: 4.2vw;
			}
			&.label {
				float: right;
				margin-right: 2vw;
				padding: .8vw;
				border: .2vw solid $info-grey-font;
				border-radius: 1.2vw;
				margin-top: 3.6vw;
			}
			&.active {
				color: $test-img-green;
				border-color: $test-img-green;
			}
		}
		img {
			&.pull-right {
				float: right;
				width: 3.3vw;
				height: 2.5vw;
				margin-top: 5.7vw;
				margin-right: 4.2vw;
			}
			&.radio {
				float: right;
				width: 3.8vw;
				height: 3.8vw;
				margin-top: 5.1vw;
				margin-right: 2vw;
			}
			
		}
	}
	.item-photo {
		height: auto;
		padding-bottom: 4.6vw;
		a {
		    display: block;
		    float: right;
		    width: 18.1vw;
		    height: 6.8vw;
		    line-height: 6.8vw;
		    text-align: center;
		    margin-top: 3.6vw;
		    margin-right: 4.2vw;
		    background-color: #2FBDB3;
		    border-radius: 1.3vw;
		    color: white;
		    -webkit-appearance: none;
		}
		.photo {
			width: 87vw;
			height: 58vw;
			margin-left: 6.5vw;
			border: .2vw solid $test-list-grey;
			border-radius: 2.6vw;
			img {
				&#img {
					width: 30.9vw;
					height: 28vw;
					margin-top: 15vw;
					margin-left: 28vw;
				}
				&.photo-img {
					width: 87vw;
					height: 58vw;
					margin-left: 0;
					display: none;
				}
			}
			span {
				display: block;
				text-align: center;
				color: $info-grey-font;
				margin: 0 auto;
			}
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 16vw;
	a {
		display: block;
		height: 16vw;
		line-height: 16vw;
		text-align: center;
		color: white;
		font-size: 4vw;
		background-color: $test-img-green;
	}
}